spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver


  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate # 수동 DDL 필요
    properties:
      hibernate:
        format_sql: false
        jdbc:
          time_zone: Asia/Seoul

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT:6379}

server:
  port: ${SERVER_PORT:8080}
  forward-headers-strategy: framework


logging:
  level:
    org.springframework.security: info

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
