spring:
  config:
    activate:
      on-profile: local


  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      client-type: lettuce

  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: ${RABBIT_PORT:5672}
    username: ${RABBIT_USERNAME:guest}
    password: ${RABBIT_PASSWORD:guest}

  docker:
    compose:
      enabled: true
      file: docker-compose.yml
      lifecycle-management: start_only

  cloud:
    aws:
      secretsmanager:
        enabled: false

logging:
  level:
    net.ttddyy.dsproxy.listener.logging: info
